@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app,
#app > div {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: Inter;
}

:root {
    --primary: #094067;
    --secondary: #3da9fc;
    --error: #e7195a;
    --headerFontSize: clamp(3rem, 6vw, 4rem);
}

/* Home Page */

.home-page {
    height: 100vh;
    width: 100vw;
    background-color: #efefef;
    text-align: center;
}

.home-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: clamp(4rem, 8vw, 6rem);
    color: var(--primary);
    text-align: center;
    padding-top: 10%;
    letter-spacing: 5%;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.home-description {
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 400;
    max-width: 35%;
    text-align: center;
}

a {
    text-align: center;
}

.home-button {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 50px;
    border: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: min(250px, 30%);
    height: 12%;
    min-height: 100px;
    max-height: 120px;
}

.home-button:hover {
    cursor: pointer;
    box-shadow: 0px;
}

/* Workouts Page */

.workouts-page {
    height: 100vh;
    width: 100vw;
    background-color: #efefef;
}

.workouts-title {
    padding: max(1rem, 2%);
    font-family: Montserrat;
    font-size: var(--headerFontSize);
    color: var(--primary);
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.workouts-display {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

/* Workout Card */

.workout-card {
    position: relative;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    width: min(200px, 40%);
    height: 9rem;
    text-align: center;
    background-color: rgba(61, 169, 252, 0.5);
}

.workout-header {
    display: flex;
    justify-content: space-between;
}

.workout-name {
    font-size: clamp(1.5rem, 1vw, 2rem);
    font-weight: 700;
    padding: 4%;
}

.workout-description,
.workout-time {
    opacity: 50%;
    font-size: clamp(0.9rem, 1vw, 1rem);
}

.workout-time {
    position: absolute;
    bottom: 5px;
    left: auto;
    width: 100%;
}

/* New Workout Form */
/* TODO */

/* Edit Page */

.edit-title {
    padding: max(1rem, 2%);
    font-family: Montserrat;
    font-size: var(--headerFontSize);
    color: var(--primary);
}

.exercises-display {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
}

.exercise-list-display {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.create-exercise-button {
    margin: 0 auto;
    background: var(--secondary);
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 700;
}

/* Exercise Card */

.exercise-card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 7px 30px -10px rgba(0, 0, 0, 0.25);
    min-width: 200px;
    max-width: 500px;
    height: 12rem;
    text-align: center;
    flex-grow: 2;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
}

.exercise-middle {
    display: flex;
    justify-content: space-between;
}

.exercise-name {
    font-size: clamp(1rem, 1vw, 1.25rem);
    font-weight: 700;
    padding: 4%;
}

.exercise-muscles {
    position: absolute;
    bottom: 6px;
    left: auto;
    width: 100%;
}

/* New Exercise Modal */

.new-exercise-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 24px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.new-exercise-header {
    display: flex;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.new-exercise-label, .new-exercise-input, .new-exercise-submit, .new-exercise-close {
    display: block;
}

.new-exercise-input {
    padding: 10px;
    margin: 10px auto 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.new-exercise-muscles {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.new-exercise-checkbox {
    font-family: Inter;
}

.new-exercise-submit {
    margin: 0 auto;
    background: var(--secondary);
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 700;
}

.new-exercise-close {
    margin-left: auto;
    width: 100%;
    opacity: 50%;
    cursor: pointer;
}

/* Error Message */

.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }

.input-error {
    border: 1px solid var(--error);
}